*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Merriweather', serif;
    margin: 20px 140px 0px 140px;
}
.header{
    width: 100%;
    height: 80vh;
    background-image: url(./Images/Banner\ Image.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.content-area{
    padding-top: 350px;
    text-align: center;
    color: blanchedalmond;

}
.content-area h3{
    font-size: 32px;
}
.content-area h1{
    width: 632px;
    font-size: 72px;
}
.discount{
    text-align: center;
}
.midnight-party{
    
    width: 100%;
    height: 600px;
    background-image: url(./Images/Vectorrr.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.section-three{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 80px;
}
.section-four{
    margin-top: 100px;
    width: 100%;
    height: 500px;
    background: linear-gradient(pink, white);
    opacity: 0.8;
}
.time-info{
    text-align: center;
    padding-top: 200px;
}
.section-five{
    width: 100%;
    margin-top: 80px;
}
.coming-soon{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.bonus{
    width: 100%;
    height: 300px;
    background-image: url(./Images/Rectangle\ 2.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.sec-seven{
    width: 100%;
    margin-top: 80px;
}
.img-container{
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.images{
    width: 624px;
    height: 451px;
    
}